@import url('https://fonts.googleapis.com/css2?family=Doto:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@500&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  color: white;
  background: #2A2A2A ;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar {
  position: fixed;
  border-radius: 0px 5px 5px 0;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: white;
  transform-origin: 0%;
}

.skill{
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 5px;
  height:50px;
  width: 50px;
}

.skill-left{
  
}

.skill-middle{
  
}

.skill-right{
  
}
.skill-left:hover{
  box-shadow: 
    0 0 2px rgba(0, 255, 0, 0.5), 
    0 0 8px rgba(0, 255, 0, 0.5), 
    0 0 10px rgba(0, 255, 0, 0.5), 
    0 0 20px rgba(0, 255, 0, 0.5), 
    0 0 30px rgba(0, 255, 0, 0.5), 
    0 0 40px rgba(0, 255, 0, 0.5), 
    0 0 50px rgba(0, 255, 0, 0.2), 
    0 0 80px rgba(0, 255, 0, 0.2);
  cursor: pointer;
}

.skill-middle:hover{
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(245, 175, 25, 0.5), 0 0 30px rgba(245, 175, 25, 0.5), 0 0 40px rgba(245, 175, 25, 0.5), 0 0 50px rgba(245, 175, 25, 0.2), 0 0 80px rgba(245, 175, 25, 0.2);
  cursor: pointer;
}

.skill-right:hover{
  cursor: pointer;
  box-shadow: 
    0 0 2px rgba(0, 0, 255, 0.5), 
    0 0 8px rgba(0, 0, 255, 0.5), 
    0 0 10px rgba(0, 0, 255, 0.5), 
    0 0 20px rgba(0, 0, 255, 0.5), 
    0 0 30px rgba(0, 0, 255, 0.5), 
    0 0 40px rgba(0, 0, 255, 0.5), 
    0 0 50px rgba(0, 0, 255, 0.2), 
    0 0 80px rgba(0, 0, 255, 0.2);
}

.shadow-light{
  
}

.shadow-red {
  box-shadow: 
    0 0 2px rgba(255, 0, 0, 0.5), 
    0 0 8px rgba(255, 0, 0, 0.5), 
    0 0 10px rgba(255, 0, 0, 0.5), 
    0 0 20px rgba(255, 0, 0, 0.5), 
    0 0 30px rgba(255, 0, 0, 0.5), 
    0 0 40px rgba(255, 0, 0, 0.5), 
    0 0 50px rgba(255, 0, 0, 0.2), 
    0 0 80px rgba(255, 0, 0, 0.2);
}

/*  For the cards popping up*/

.card {
  font-size: 20px;
  width: 100px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

.motion-background{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Push the background behind other content */
  overflow: hidden; /* Prevent the SVG from spilling out of the container */
  row-gap: 300px;
}

.weird-height{
  height: 80vh;
  
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.skillbox{
  /* background-color: rgb(16, 19, 46); */
  background-color: #433D8B;
  border-radius: 10px;
  padding:5px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  width: 90px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.uppermenu-item:hover{
  text-shadow: 0px 0px 4px white;
  scale: 1.1;
}



